<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>LMG Photo Day</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <meta name="apple-mobile-web-app-capable" content="yes">


    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="assets/roboto.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/normalize.min.css">
    <link href="assets/milligram.min.css" rel="stylesheet">
    <link href="assets/styleLight.css" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  </head>
  <body>
    
    <div class="container">
      <div class="logo-row">
        <div class="logo"><img src="/assets/logo.svg" /></div>
      </div>
      <div class="login-area">
        <div class="row">
          <div class="column medium-text text-center">Thank you for participating in Photo Day!</div>
        </div>
        <div class="row">
          <div class="column medium-text text-center">To retreive your photos, please enter your email below.</div>
        </div>
        <div class="row error">
          <div class="column medium-text text-center red">We couldn't find that email.  Please try again.  If you continue to have issues, please contact lassondemedia@gmail.com</div>
        </div>
        <div class="row">
          <div class="column column-50 column-offset-25">
            <fieldset>
              <label for="emailField">Email</label>
              <input type="text" placeholder="zebra@lassonde.yorku.ca" id="emailField">
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="column text-center">
            <button class="button" id="getPhotosButton">Get My Photos</button>
          </div>  
        </div>
      </div>
      <div class="photos-area">
        <div class="row">
          <div class="column medium-text text-center">
            <span class="email-address"></span>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <h2>Edited Photos <small>(Click to Download)</small></h2>
          </div>
        </div>
        <div class="thumbnail-container" id="edited-photos">
        </div>        
        <div class="row">
          <div class="column">
            <h2>RAW Photos <small>(Click to Download)</small></h2>
          </div>
        </div> 
        <div class="thumbnail-container" id="raw-photos">
        </div>
      </div>
    </div>
  
    <script src="assets/jquery-3.1.1.min.js"></script>
    <script>
      var photos = [];
      var email = "{{email}}";
      $('.error').hide();
      $('.photos-area').hide();
      
      if(email !== ""){
        $(".login-area").hide();
        getAllPhotos(email);
        console.log(photos);
      }
      
      $("#getPhotosButton").click(function(e){
        $('.login-area').hide();
        email = $('#emailField').val();
        getAllPhotos(email);
      });
      
      function getAllPhotos(emailAddress){
        var formData = {
              'email'              : emailAddress,
          };

          $.ajax({
              type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
              url         : `/getphotos`, // the url where we want to POST
              data        : formData, // our data object
              dataType    : 'json', // what type of data do we expect back from the server
              encode      : true
          })
          .done(function(data){
            if(!data.success){
              $(".login-area").show();
              $('.error').show();
            }
            else{
              $(".email-address").html(email);
              photos = data.photos;
              $('.photos-area').show();
              var finalPhotosCount = 0;
              data.photos.forEach(function(photo){
                if(photo.finalPhoto){
                  finalPhotosCount++;
                  $("#edited-photos").append(renderThumbnailFinal(photo));
                }
                $("#raw-photos").append(renderThumbnailRAW(photo));
              });
              if(finalPhotosCount === 0){
                $("#edited-photos").html("<span class='medium-text'>Your photos have not been edited yet.  Please check again later.</span>")
              }
            }
          });
      }
      
      function renderThumbnailRAW(photo){
        var selectedClass = "";
        if(photo.selected){
          selectedClass = "selected";
        }
        return `<a href="/watch_folder/${photo.filename}" class="thumbnail" download><img class="${selectedClass}" src="/watch_folder/${photo.previewUrl}"/></a>`;
      }
      
      function renderThumbnailFinal(photo){
        return `<a href="/photos/${photo._id}/final" class="thumbnail" download><img src="/photos/${photo._id}/final"/></a>`;
      }
      
    </script>
  </body>
</html>
