<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Photo Day Launcher</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <meta name="apple-mobile-web-app-capable" content="yes">


    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="assets/roboto.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/normalize.min.css">
    <link href="assets/milligram.min.css" rel="stylesheet">
    <link href="assets/styleLight.css" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="column"><h1>Photo Day Launcher</h1></div>
      </div>
      <div class="row">
        <div class="column"><a class="button-primary" href="/latestPhoto">Photo Display</a></div>
        <div class="column"><a class="button-primary" href="/manage">Photo Selector</a></div>
        <div class="column"><a class="button-primary" href="/signin">Signin Kiosk</a></div>
        <div class="column"><a class="button-primary" href="/overview">Overview</a></div>
        <div class="column"><a class="button-primary" href="/slideshow">Slideshow</a></div>
      </div>
      <div class="row">
        <div class="column"><h2>IP Address: {{ipAddress}}:6655</h2></div>
      </div>
    </div>
    
  </body>
</html>
